<a href="/codereviews/new">Request review</a>

<% if @codereviews.any? %>
  <% @codereviews.each do |codereview| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= codereview.user.name if codereview.user %><img src="<%= codereview.user.image if codereview.user %>" class="img-circle"></p>
        <p><%= codereview.title %></p>
        <p><%= link_to codereview.url, url_for(codereview.url) %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <h1>No reviews yet</h1>
<% end %>
