<% if @codereviews.any? %>
  <% @codereviews.each do |codereview| %>
    <h2><%= codereview.title %></h2>
    <h2><%= link_to codereview.url, url_for(codereview.url) %></h2>
  <% end %>
<% else %>
  <h1>No reviews yet</h1>
<% end %>

<a href="/codereviews/new">Request review</a>
