<%= link_to "Ask a question!", new_question_path %>
<% if @questions.any? %>
  <% @questions.each do |question| %>
    <div>
      <%= question.title %>
      <p>Asked by: <%= question.user.name %></p> 
      <%= link_to 'Delete', question_path(question), method: :delete %>
    </div>
  <% end %>
<% end %>