.navbar {
 background-color: #C84540 ;
}

.navbar-text {
  color: rgb(169, 29, 42);
  font-size: 150%;
}

.jumbotron {
  padding: 2em 5em;
}

.img-circle {
  max-width: 50px;
  margin: 9px;
}

.likes-dislikes {
  margin: 5px 0px;
  background-color: #dbd0c2;
}

.posts-content {
  margin: 5px 0px;
  background-color: #f0f0f0;
}
