body {
  /*background-color: rgb(169, 29, 42);*/
}

.navbar-header .navbar-text {
  color: rgb(169, 29, 42);
  font-size: 150%;
}

.jumbotron {
  padding: 2em 5em;
}

.btn.btn-default {
  margin-left: 0;
}

.img-circle {
  max-width: 50px;
  margin-left: 50px;
}

.post-title {
  color: black;
  font-size: x-large;
  margin: 10px 0px 10px 0px;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;

}

.btn {
  margin: 0px 2px 2px 2px;
}
