<% if user_signed_in? %>

  <div class='wrapper text-center'>
    <div class="btn-group-vertical" role="group" aria-label="...">
      <a href="/posts" class="btn btn-primary btn-lg">Resources</a>
      <a href="/codereviews" class="btn btn-primary btn-lg">Code Review</a>
      <a href="/posts" class="btn btn-primary btn-lg">Forum</a>
    </div>
  </div>

<% else %>

  <div class="jumbotron">
    <h2>
      Read less, do more
    </h2>
    <p>
      A hub of essential resources for Makers students
    </p>
    <%= link_to "Sign in with Github", user_omniauth_authorize_path(:github), class: "btn btn-primary btn-lg" %>
  </div>

<% end %>
