<% if user_signed_in? %>
  <a href="/posts">Resources</a>
  <a href="/posts">Forum</a>
  <a href="/codereviews">Code Review</a>
<% else %>
  <%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %>
<% end %>
