<% if user_signed_in? %>
  <div class="btn-group-vertical" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><a href="/posts">Resources</a>
    <button type="button" class="btn btn-default"><a href="/posts">Forum</a>
    <button type="button" class="btn btn-default"><a href="/codereviews">Code Review</a>
  </div>
<% else %>

  <div class="jumbotron">
    <h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis molestie nisi.
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis molestie.
    </p>

    <p><div class="btn btn-primary btn-lg" href="#" role="button"><%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %></div></p>
  </div>

<% end %>
